{% if entities|length > 0 %}
    <table class="table table-hover" id="pagination">
        <thead>
        <tr>
            <th width="1%"></th>
            <th width="1%"></th>
            <th>{% include sort_title with {'pagination': entities, 'title': 'Title', 'field': 'news.title'} %}</th>
            <th width="22%">{% include sort_title with {'pagination': entities, 'title': 'Gültig ab', 'field': 'news.enabledDate'} %}</th>
            <th width="16%">{% include sort_title with {'pagination': entities, 'title': 'Angelegt von', 'field': 'news.user.username'} %}</th>
            <th width="12%" style="text-align: right"></th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    {% if entity.enabled %}
                        <span class="glyphicon glyphicon-ok text-success" title="{{ 'title.link.enabled'|trans }}"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-off text-danger" title="{{ 'title.link.disabled'|trans }}"></span>
                    {% endif %}
                </td>
                <td>
                    {% if entity.internal %}
                        <span class="glyphicon glyphicon-cloud" title="{{ 'title.link.internal'|trans }}"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-globe" title="{{ 'title.link.external'|trans }}"></span>
                    {% endif %}
                </td>
                <td valign="middle">
                    {% if not entity.category is null %}
                        <strong>{{ entity.category.name }}</strong>
                        <br>
                    {% endif %}
                    {{ entity.title }}
                </td>
                <td valign="middle">
                    {{ entity.enabledDate|date("d.m.Y H.i") }} {{ 'Uhr'|trans }}
                </td>
                <td valign="middle">
                    {% if not entity.getUser is null %}
                        {{ entity.getUser.username }}
                    {% else %}
                        {{ 'Nicht zugeordnet'|trans }}
                    {% endif %}
                </td>
                <td style="white-space: nowrap;">
                    <form style="float:right" action="{{ path('avl_news_delete', {'newsId': entity.id}) }}" method="POST"
                          onsubmit="return confirm('{{ 'news.question.remove'|trans }}')">
                        <input type="hidden" name="_method" value="DELETE">

                        <div style="text-align: center">
                            <button type="submit" title="{{ 'title.news.link.remove'|trans }}" class="btn btn-xs btn-danger">
                                <span class="glyphicon glyphicon-trash" style="top:2px"></span>
                            </button>
                        </div>
                    </form>
                    <a class="btn btn-xs btn-primary" style="float:right;margin-right:10px"
                       href="{{ path('avl_news_edit', { 'newsId': entity.id }) }}" title="{{ 'title.news.link.edit'|trans }}"
                       style="float:left">
                        <span class="glyphicon glyphicon-edit" style="top:2px"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}