{% extends 'UserBundle::layout.html.twig' %}

{% block title %}
    {% if entity is not null %}
        {{ 'MT_CNSL News'|trans }}
        - {{ entity.title }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="col-md-8">
        {% if entity is not null %}
            <ol class="breadcrumb" style="background-color:#ffffff;padding-left:0px;margin-bottom:28px">
                <li><a href="{{ path('avl_user_dashboard_show') }}">{{ 'link.dashboard'|trans }}</a></li>
                <li class="active"><a href="{{ path('avl_news_category_list_all') }}">{{ 'link.news.posts'|trans }}</a></li>
                <li class="active">
                    <a href="{{ path('avl_news_category_list', { 'slug': entity.category.path }) }}">
                        {{ entity.category.name|length > 15 ? entity.category.name|slice(0, 15) ~ '...' : entity.category.name }}
                    </a>
                </li>
                <li class="active">
                    {{ entity.title|length > 40 ? entity.title|slice(0, 40) ~ '...' : entity.title }}
                </li>
            </ol>
        {% endif %}
        {% if entity is not null %}
            <hr>
            <div class="well">
                <h3 style="font-weight: 200;margin-bottom:10px !important">{{ entity.title }}</h3>
                <hr style="margin-top:0px !important">
                {{ entity.preface|nl2br }}
                <hr>
                {{ entity.body|nl2br }}
                <br><br>
                <small>
                    {% if not entity.category is null %}
                        Gefunden in <strong>{{ entity.category.name }}</strong> /
                    {% endif %}
                    {% if not entity.user is null %}
                    Von <strong>{{ entity.user.username }}</strong> am
                    {% endif %}
                    <strong>{{ entity.createdDate|date("d.m.Y H.i") }} {{ 'Uhr'|trans }}</strong>
                </small>
            </div>
            <div style="clear:both;text-align: center;">
                <hr>
                <a class="btn btn-info" href="{{ path('avl_user_dashboard_show') }}" role="button">{{ 'button.backlink'|trans }}</a>
            </div>
        {% endif %}
    </div>
    <div class="col-md-4">
        {% include "UserBundle:News:list.categorys.navigation.html.twig" %}
    </div>
{% endblock %}
