<ul class="nav nav-tabs" style="width:20%">
    <li {% if currentRouteName == 'avl_faq_categorys' %}class="active"{% endif %}>
        <a href="{{ path('avl_faq_categorys') }}">
            <span class="glyphicon glyphicon-paperclip" aria-hidden="true" style="top:2px"></span>
            {{ 'link.subuser.list'|trans }}
        </a>
    </li>

    <li {% if currentRouteName == 'avl_faq_categorys_create' %}class="active"{% endif %}>
        <a href="{{ path('avl_faq_categorys_create') }}">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" style="top:2px"></span>
            {{ 'link.faq.categorys.create'|trans }}
        </a>
    </li>

    {% if currentRouteName == 'avl_faq_categorys_edit' %}
        <li class="active">
            <a href="#">
                <span class="glyphicon glyphicon-edit" aria-hidden="true" style="top:2px"></span>
                {{ 'link.faq.categorys.edit'|trans }}
            </a>
        </li>
    {% endif %}

    {% if currentRouteName == 'avl_faq_categorys' %}
        <li style="margin-left:20px;margin-top:40px;font-size:12px">
            <span class="glyphicon glyphicon-ok text-success" style="margin-right:6px"></span>{{ 'title.faq.categorys.enabled'|trans }}<br>
            <span class="glyphicon glyphicon-off text-danger" style="margin-right:6px"></span>{{ 'title.faq.categorys.disabled'|trans }}<br><br>

            <span class="glyphicon glyphicon-cloud" style="margin-right:6px"></span>{{ 'title.faq.categorys.internal'|trans }}<br>
            <span class="glyphicon glyphicon-globe" style="margin-right:6px"></span>{{ 'title.faq.categorys.external'|trans }}<br><br>

            <span class="glyphicon glyphicon-edit" style="margin-right:6px"></span>Bearbeiten<br>
            <span class="glyphicon glyphicon-trash" style="margin-right:6px"></span>Löschen<br><br>
        </li>
    {% endif %}
</ul>