<ul class="nav nav-tabs" style="width:20%">
    <li {% if currentRouteName == 'fos_user_profile_show' %}class="active"{% endif %}>
        <a href="{{ path('fos_user_profile_show') }}">
            <span class="glyphicon glyphicon-user" aria-hidden="true" style="top:2px"></span>
            {{ 'link.account'|trans }}
        </a>
    </li>

    <li {% if currentRouteName == 'fos_user_change_password' %}class="active"{% endif %}>
        <a href="{{ path('fos_user_change_password') }}">
            <span class="glyphicon glyphicon-barcode" aria-hidden="true" style="top:2px"></span>
            {{ 'link.change.password'|trans }}
        </a>
    </li>

    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CUSTOMER_FBC_MANAGER') %}
        <li {% if currentRouteName == 'avl_user_profile_auth_facebook' %}class="active"{% endif %}>
            <a href="{{ path('avl_user_profile_auth_facebook') }}">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="top:2px"></span>
                {{ 'Facebook connect'|trans }}
            </a>
        </li>
    {% endif %}
</ul>