<ul class="nav nav-tabs" style="width:20%">
    <li {% if currentRouteName == 'avl_subuser' %}class="active"{% endif %}>
        <a href="{{ path('avl_subuser') }}">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="top:2px"></span>
            {{ 'link.subuser.list'|trans }}
        </a>
    </li>

    <li {% if currentRouteName == 'avl_subuser_new' %}class="active"{% endif %}>
        <a href="{{ path('avl_subuser_new') }}">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" style="top:2px"></span>
            {{ 'link.subuser.new'|trans }}
        </a>
    </li>

    {% if currentRouteName == 'avl_subuser_edit' %}
        <li class="active">
            <a href="#">
                <span class="glyphicon glyphicon-edit" aria-hidden="true" style="top:2px"></span>
                {{ 'link.subuser.edit'|trans }}
            </a>
        </li>
    {% endif %}

    {% if currentRouteName == 'avl_subuser' %}
        <li style="margin-left:20px;margin-top:40px;font-size:12px">
            <span class="glyphicon glyphicon-ok text-success" style="margin-right:6px"></span>Benutzer aktiv<br>
            <span class="glyphicon glyphicon-off text-danger" style="margin-right:6px"></span>Benutzer inaktiv<br><br>
            <span class="glyphicon glyphicon-user" style="margin-right:6px"></span>Zum Benutzer wechseln<br>
            <span class="glyphicon glyphicon-edit" style="margin-right:6px"></span>Benutzer bearbeiten<br>
            <span class="glyphicon glyphicon-trash" style="margin-right:6px"></span>Benutzer löschen<br><br>
            <span class="glyphicon glyphicon-unchecked" style="margin-right:6px"></span>Hauptbenutzer<br>
            <span class="glyphicon glyphicon-stop" style="margin-right:6px"></span>Sub-Benutzer
        </li>
    {% endif %}
</ul>