{% extends "UserBundle::layout.html.twig" %}

{% block title %}
    {{ 'title.news'|trans }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    {% javascripts
    'bundles/user/cropper/cropper.js'
    'bundles/user/fileinput/js/fileinput.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $("#avl_faq_related option[value='{{ entity.id }}']").remove();

        /**
         * Disable expiredData
         */
        function setupExpiredDate() {
            if ($('#avl_faq_enabledExpiredDate').prop('checked')) {
                $('#avl_faq_enabledExpiredDate').parent().parent().parent().next('div').show();
                $('#avl_faq_expiredDate_date_day, #avl_faq_expiredDate_date_month, #avl_faq_expiredDate_date_year, #avl_faq_expiredDate_time_hour, #avl_faq_expiredDate_time_minute').removeAttr('disabled');
            } else if (!$('#avl_faq_enabledExpiredDate').prop('checked')) {
                $('#avl_faq_enabledExpiredDate').parent().parent().parent().next('div').hide();
                $('#avl_faq_expiredDate_date_day, #avl_faq_expiredDate_date_month, #avl_faq_expiredDate_date_year, #avl_faq_expiredDate_time_hour, #avl_faq_expiredDate_time_minute').attr('disabled', 'disabled');
            }
        }

        {% if is_granted('ROLE_ADMIN') %}
        $('#avl_faq_enabledExpiredDate').click(function () {
            setupExpiredDate();
        });
        setupExpiredDate()
        {% endif %}
    </script>
{% endblock javascripts %}
{% block content %}
    <div class="col-md-12">
        {% if currentRouteName == 'avl_faq_edit' %}
            <h1>
                {{ 'title.news'|trans }}
                <small>{{ 'title.faq.edit'|trans }}</small>
            </h1>
        {% else %}
            <h1>
                {{ 'title.news'|trans }}
                <small>{{ 'title.faq.create'|trans }}</small>
            </h1>
        {% endif %}
        <hr>
        <div class="tabbable tabs-left">
            {% include 'UserBundle:Tabs:faq.html.twig' %}
            <div class="tab-content" style="width:75%;float:left">
                <div class="tab-pane active">
                    {% include "UserBundle:Faq:edit_content.faq.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}