{% extends "UserBundle::layout.html.twig" %}

{% block title %}
    {{ 'title.faq.categorys'|trans }}
{% endblock %}

{% block content %}
    <div class="col-md-12">
        {% if currentRouteName == 'avl_faq_categorys_edit' %}
            <h1>
                {{ 'title.faq.categorys'|trans }}
                <small>{{ 'title.faq.categorys.edit'|trans }}</small>
            </h1>
        {% else %}
            <h1>
                {{ 'title.faq.categorys'|trans }}
                <small>{{ 'title.faq.categorys.create'|trans }}</small>
            </h1>
        {% endif %}
        <hr>
        <div class="tabbable tabs-left">
            {% include 'UserBundle:Tabs:faq.categorys.html.twig' %}
            <div class="tab-content" style="width:75%;float:left">
                <div class="tab-pane active">
                    {% include "UserBundle:Faq:edit_content.categorys.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}