<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ _charset }}">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
    <!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
    <!--script src="js/less-1.3.3.min.js"></script-->
    <!--append ‘#!watch’ to the browser URL, then refresh the page. -->

    {% stylesheets
    'bundles/user/bootstrap3/css/bootstrap.min.css'
    'bundles/user/bootstrap3/css/style.css'
    'bundles/user/css/style.css'
    'bundles/user/css/toastr.css'
    filter="cssrewrite"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <!-- Fav and touch icons -->
    <!-- link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="img/favicon.png" -->

    {% block stylesheets %}{% endblock %}
    {% block head %}{% endblock %}
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
{% block javascripts %}
    {% javascripts
    'bundles/user/bootstrap3/js/html5shiv.js'
    'bundles/user/bootstrap3/js/jquery.min.js'
    'bundles/user/bootstrap3/js/bootstrap.min.js'
    'bundles/user/bootstrap3/js/scripts.js'
    'bundles/user/jquery/toaster/toastr.js'

    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function() {

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "showDuration": "3000",
                "hideDuration": "1000",
                "timeOut": "10000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            {% for flashMessage in app.session.flashbag.get('notice') %}
                toastr.success('{{ flashMessage|trans }}', '{{ 'notice.label'|trans }}');
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                toastr.error('{{ flashMessage|trans }}', '{{ 'notice.label'|trans }}');
            {% endfor %}
        });
    </script>
{% endblock %}
</body>
</html>