<form action="{% if path is defined  %}{{ path(path, {'id': id}) }}{% else %}{{ path('fos_user_profile_edit') }}{% endif %}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    {{ form_widget(form) }}

    <div class="fixed-dragger-cropper img-thumbnail" style="width:50%;display:none">
        <!-- Hier erscheinen die Vorschaubilder -->
    </div>

    <div style="clear:both;text-align: center;padding-top:20px">
        <input type="submit" class="btn btn-primary" value="{{ 'button.save'|trans }}" />
        {% if path is defined %}
            <a class="btn btn-primary" href="{{ path('avl_subuser') }}" role="button">Back</a>
        {% endif %}
    </div>
</form>
