{% extends "UserBundle::layout.html.twig" %}

{% block title %}
    {% if currentRouteName == 'avl_subuser_edit' %}
        {{ 'title.subuser.edit'|trans }}
    {% else %}
        {{ 'title.customer.edit'|trans }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    "bundles/user/cropper/cropper.css"
    "bundles/user/fileinput/css/fileinput.min.css"
    filter="cssrewrite"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        'bundles/user/cropper/cropper.js'
        'bundles/user/fileinput/js/fileinput.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(function() {
            $('#fos_user_profile_form_profilePictureFile').change(function(e) {
                if (this.files !== 'undefined' && typeof FileReader !== 'undefined') {
                    $('.fixed-dragger-cropper').hide();
                    for (var f = 0; f < this.files.length; f++) {
                        var file = this.files[f];
                        var reader = new FileReader();

                        if (!/image\/(jpeg|jpg|png|gif)/.test(file.type)) {
                            alert('Dateityp "' + file.type + '" wird nicht unterstützt.');
                            continue;
                        }

                        $(reader).load(previewImage);

                        reader.readAsDataURL(file);
                    }
                }
            });

            $("#fos_user_profile_form_profilePictureFile").fileinput({
                showPreview: false,
                showUpload: false,
                mainClass: "input-group-small",
                previewFileType: "image",
                allowedFileExtensions: ['jpg', 'gif', 'png'],
                browseClass: "btn btn-success",
                browseLabel: "{{ 'button.select.image'|trans }}",
                browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
                removeClass: "btn btn-danger",
                removeLabel: "{{ 'button.delete'|trans }}",
                removeIcon: "<i class=\"glyphicon glyphicon-trash\"></i> "
            });
            $('.input-group').css({width: '320px !important'});
        });

        function previewImage(e)
        {
            var img = $(document.createElement('img'));

            $(img).attr('src', e.target.result);
            $('.cropper-container').remove();
            $('.fixed-dragger-cropper').append(img);

            $('.fixed-dragger-cropper > img').ready(function(e) {

                $('.fixed-dragger-cropper').show();

                $(".fixed-dragger-cropper > img").cropper({
                    aspectRatio: 500 / 500,
                    autoCropArea: 0.6, // Center 60%
                    minWidth:400,
                    maxWidth:800,
                    minHeight:400,
                    maxHeight:800,
                    multiple: false,
                    dragCrop: false,
                    dashed: false,
                    movable: true,
                    zoomable: false,
                    resizable: true,
                    done: function(data) {
                        $('#fos_user_profile_form_imageCropY').val(Math.round(data.y));
                        $('#fos_user_profile_form_imageCropX').val(Math.round(data.x));
                        $('#fos_user_profile_form_imageCropHeight').val(Math.round(data.height));
                        $('#fos_user_profile_form_imageCropWidth').val(Math.round(data.width));
                    },
                    built: function () {
                        $(this).cropper("zoom", 0.5);
                    }
                });

            });
        }
    </script>
{% endblock javascripts %}

{% block content %}
<div class="col-md-12">
    {% if currentRouteName == 'avl_subuser_edit' %}
        <h1>{{ 'title.subuser'|trans }} <small>{{ 'title.subuser.edit'|trans }}</small></h1>
    {% else %}
        <h1>{{ 'title.customer.edit'|trans }}</h1>
    {% endif %}
    <hr>
    <div class="tabbable tabs-left">
        {% if currentRouteName == 'avl_subuser_edit' or currentRouteName == 'avl_subuser_create' %}
            {% include 'UserBundle:Tabs:subuser.html.twig' %}
        {% else %}
            {% include 'UserBundle:Tabs:profile.html.twig' %}
        {% endif %}
        <div class="tab-content" style="width:75%;float:left">
            <div class="tab-pane active">
                {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
