{% if entities|length > 0 %}
<table class="table table-hover" border="0" id="pagination">
    <thead>
    <tr>
        <th width="1%"></th>
        <th width="1%"></th>
        <th>{{ knp_pagination_sortable(entities, 'Name', 'user.username') }}</th>
        <th>{{ knp_pagination_sortable(entities, 'E-Mail-Adresse', 'user.email') }}</th>
        <th width="18%" style="text-align: right">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>
                {% if entity.enabled %}
                    <span class="glyphicon glyphicon-ok text-success"></span>
                {% else %}
                    <span class="glyphicon glyphicon-off text-danger"></span>
                {% endif %}
            </td>
            <td><img src="{{ UserProfileImagePath(entity.profilePicturePath, 50, 50) }}" height="20" class="img-circle" style="margin-top:-5px"/></td>
            <td valign="middle">
                {{ entity.username }}
            </td>
            <td>{{ entity.email }}</td>
            <td style="white-space: nowrap;">
                <form style="float:right" action="{{ path('avl_subuser_remove', {'id': entity.id}) }}" method="POST" onsubmit="return confirm('{{ 'Do you remove the subuser?'|trans }}')">
                    <input type="hidden" name="_method" value="DELETE">
                    <div style="text-align: center">
                        <input type="submit" class="btn btn-xs btn-danger" value="{{ 'Remove'|trans }}">
                    </div>
                </form>
                <a class="btn btn-xs btn-primary" style="float:right;margin-right:10px" href="{{ path('avl_subuser_edit', { 'id': entity.id }) }}" role="button" style="float:left">Edit</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}