{% extends 'UserBundle::layout.html.twig' %}

{% block title %}Subuser{% endblock %}

{% block content %}
    <div class="col-md-12">
        <h1>{{ 'title.subuser'|trans }}</h1>
        <hr>
        <div class="tabbable tabs-left">
            {% include 'UserBundle:Tabs:subuser.html.twig' %}
            <div class="tab-content" style="width:75%;float:left">
                <div class="tab-pane active">
                    <form action="{{ path('avl_subuser') }}" method="GET" novalidate>
                        <div class="input-group">
                            {{ form_widget(form.query) }}
                            <span class="input-group-btn">
                                <button class="btn btn-info" type="button">{{ 'button.search'|trans }}</button>
                            </span>
                        </div>
                    </form>
                    <br>
                    <div class="{% if entities|length > 0 %}{% endif %}">
                        {% include "FOSUserBundle:Subuser:entities.html.twig" %}
                    </div>
                    {{ knp_pagination_render(entities) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% if entities|length == 0 %}
        {% if form.vars.value.query is not null %}
            {% set infoNotice = 'notice.no.search.results' %}
        {% else %}
            {% set infoNotice = 'notice.no.subuser' %}
        {% endif %}
        <script>
            $(document).ready(function() {
                toastr.info('{{ infoNotice|trans }}', '{{ 'notice.label'|trans }}');
            });
        </script>
    {% endif %}
{% endblock %}