{% extends 'UserBundle::layout.html.twig' %}

{% block title %}{{ 'title.dashboard'|trans }}{% endblock %}

{% block content %}
    <div class="col-md-8">
        <h1>{{ 'title.dashboard'|trans }}</h1>
        <hr>
        <div class="well">
            Hello {{ app.session.get('username') }}
            <br><br>
            nice to meet you. Lets look arround @my private SF2 project named MT_CNSL (Management Console).
            This project demonstrate how you can use work with SF2 and FOSUserBundle.
            <br><br>
            If you have a question, you can ask me @github.
            <br><br>
            Have fun, now ;)
        </div>
        {% if news is not null %}
            <br>
            <h1 class="title">{{ 'link.news.posts'|trans }}</h1>
            <hr>
            {% if news|length > 0 %}
                {% for entity in news %}
                    <div class="well wellink">
                        {% if entity.link is not null %}
                            <span style="font-size:11px;position:relative;float:right;top:-19px;right:-19px" class="label label-info">Externer Link</span>
                        {% endif %}
                        <h3 style="font-weight: 200;margin-bottom:10px !important">{{ entity.title }}</h3>
                        <small>
                            {% if not entity.category is null %}
                                Gefunden in <strong>{{ entity.category.name }}</strong> /
                            {% endif %}
                            {% if not entity.user is null %}
                                Von <strong>{{ entity.user.username }}</strong> am
                            {% endif %}
                            <strong>{{ entity.createdDate|date("d.m.Y H.i") }} {{ 'Uhr'|trans }}</strong>
                        </small>
                        <hr style="margin-top:10px !important">
                        {% if entity.body is not null or entity.link is not null %}
                            <a {% if entity.link is not null %}href="{{ entity.link }}" target="_blank"{% else %}href="{{ path('avl_news_show', { 'slug': entity.path }) }}"{% endif %}>
                        {% endif %}
                            {{ entity.preface|markdown }}
                        {% if entity.body is not null or entity.link is not null %}
                            </a>
                        {% endif %}
                    </div>
                    <br>
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
    <div class="col-md-4">
        {% include "UserBundle:News:list.categorys.navigation.html.twig" %}
        <h1 class="title">Symfony News</h1>
        <hr>
        <div style="overflow:auto">
            {% if symfonyRss %}
                {% for item in symfonyRss.channel.item %}
                    <a href="{{ item.link }}" target="_blank">{{ item.title }}</a>
                    <hr style="margin-top:0px;margin-bottom:0px">
                {% endfor %}
            {% else %}
                No data found
            {% endif %}
        </div>
    </div>
{% endblock %}
