{% extends 'UserBundle::layout.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <br>
    <div style="float:left;width:450px">
        <h1 class="title">Dashboard</h1>
        <p>
            Hello {{ app.session.get('username') }}
            <br><br>
            nice to meet you. Lets take a look arround the
            features of FOSUserBundle that was overwrite
            and change by avl.
        </p>
        <p>
            Lets have a look at you:
            <br>
            <small>(Output generate with Twig-Dump)</small>
        </p>
        <div style="max-height:200px;overflow:auto">
            {{ dump(user) }}
        </div>
        <br>
        <p>
            The follow changes was made:
        </p>
        <ol style="font-size:12px">
            <li>Add dashboard and forward after login.</li>
            <li>Add automatically <i>role (ROLE_CUSTOMER)</i> after registration. (FOSUserBundle doesn't)</li>
            <li>Remove ask for <i>current_password</i> at profile edit page.</li>
            <li>Add <i>avatar</i> for user incl. upload.</li>
            <li>Add TwigExtension to show the <i>avatar</i>.</li>
            <li>Add <i>username</i> to the session after login or profile edit. Because if profile edit will be error ocurred the username doesn't correct.</li>
            <li>Add <i>avatar</i> to the session after login or profile edit. Because if profile edit will be error ocurred the avatar doesn't correct.</li>
            <li>Demonstrate how <i>overwrite</i> FOSUserBundle-Controller and add FOSUserBundle-EventListener.</li>
            <li>Forward to the <i>dashboard</i> if user is logged in when he is called the /login, /register or /resetting/request</li>
            <li>Remove the route /profile/show</li>
        </ol>
        <p>Regards avl</p>
    </div>
    <div style="float:right;width:350px">
        <h1 class="title">Symfony News</h1>
        <div style="max-height:220px;overflow:auto">
            {% if symfonyRss %}
                {% for item in symfonyRss.channel.item %}
                    <a href="{{ item.link }}" target="_blank">{{ item.title }}</a>
                    <hr>
                {% endfor %}
            {% else %}
                No data found
            {% endif %}
        </div>
        <br>
        <h1 class="title">Stackoverflow<br>#symfony</h1>
        <div style="max-height:220px;overflow:auto">
            {% if stackoverflowRss %}
                {% for item in stackoverflowRss.entry %}
                    <a href="{{ item.id }}" target="_blank">{{ item.title }}</a>
                    <hr>
                {% endfor %}
            {% else %}
                No data found
            {% endif %}
        </div>
        <br>
        <h1 class="title">Scoop.it<br>#symfony</h1>
        <div style="max-height:220px;overflow:auto">
            {% if scoopRss %}
                {% for item in scoopRss.channel.item %}
                    <a href="{{ item.link }}" target="_blank">{{ item.title }}</a>
                    <hr>
                {% endfor %}
            {% else %}
                No data found
            {% endif %}
        </div>
        <br>
        <h1 class="title">Github<br>#symfony</h1>
        <div style="max-height:220px;overflow:auto">
            {% if githubRss %}
                {% for item in githubRss.entry %}
                    <a href="{{ item.id }}" target="_blank">{{ item.title }}</a>
                    <hr>
                {% endfor %}
            {% else %}
                No data found
            {% endif %}
        </div>
    </div>
    <br style="clear:both">
{% endblock %}
